using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace ConsoleApp3
{
	class Program
	{
		static void Main(string[] args)
		{//get first date input from user, advise format for the date/time
			Console.WriteLine("Hey");
			Console.WriteLine("Enter first Date in format MM/DD/YYYY HH:MM:SS");
			string input1 = Console.ReadLine();
			//get second date input from user, advise format for the date/time
			Console.WriteLine("Enter the second Date in format MM/DD/YYYY HH:MM:SS");
			string input2 = Console.ReadLine();

			DateTime date1 = DateTime.Parse(input1);
			DateTime date2 = DateTime.Parse(input2);


			//figure out the difference between dates
			TimeSpan difference = date2 - date1;
		
			int days = difference.Days;
			//break apart the difference into:
			//years
			Console.WriteLine("Years: " + days / 365);
			days = days % 365;
			//months
			Console.WriteLine("Months: " + days / 30);
			days = days % 30;
			//days
			Console.WriteLine("days: " + days);
			//hours
			Console.WriteLine("hours:" + difference.Hours);
			//minutes
			Console.WriteLine("minutes: " + difference.Minutes);

			Console.ReadLine();




		}
	}
}
